extends layout
block title
    title Account

block content
    .col-sm-6.col-sm-offset-3
        h1 Your Account
        include validationErrors
        if messages.success
            .alert.alert-success= messages.success
        if messages.error
            .alert.alert-danger= messages.error
        if messages.info
            .alert.alert-info= messages.info
        if user
            form(method='POST')
                .row
                    .col-sm-6
                        .form-group
                            label(for='firstName') First Name:
                            input(type='text' placeholder='First Name' name='firstName' value=user.firstName)#firstName.form-control
                    .col-sm-6
                        .form-group
                            label(for='lastName') Last Name:
                            input(type='text' placeholder='Last Name' name ='lastName' value=user.lastName)#lastName.form-control
                .form-group
                    label(for='email') Email Address:
                    input.form-control#email(type='email', placeholder='Email Address', name='email', value=user.email, autocomplete=true)
                .form-group
                    label(for = 'password') Password
                    input.form-control#password(type='password',placeholder='Password',name='password')
                button(type='submit').btn.btn-block.btn-success Update Account
        else
            h2 No user information available
